*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 80px;
}

.my-overflow-main {
    height: calc(100vh - 80px);
    overflow-y: auto;
}

#mobile-logo{
    width: 50px;
}

#desktop-logo {
    display: none;
}

.nav-height {
    height: 80px;
}

.height-100 {
    height: 100%;
}

span {
    display: none;
}

aside {
    width: 50px;
    background-color: rgba(5,30,52,255);
}

.top-bar {
    background-color: rgba(27,114,232,255);
}

.my-canvas-button {
    border: 1px solid white;
    padding: 10px 15px;
    color: white;
    background-color: transparent;
    border-radius: 10px;

}


#my-order-1 {
    order: 1;
}
#my-order-2 {
    order: 2
}
#my-order-3 {
    order: 3
}

th img {
    width: 30px;
    border-radius: 50%;
}

#stats-img {
    max-width: auto;
}

.content-color {
    background-color: orange;
    width: 100%;
    height: 100px;
}
.main-body {
    background-color: white;

}

.my-topbar-button {
    background-color: rgba(22,91,186,255);
    padding: 3px 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    
}
.my-topbar-button:hover {
    color: white;
}

.my-border-grey {
    border: 1px solid grey;
    color: grey;
    border-radius: 5px;
    padding: 5px;
}

.my-decoration-none {
    text-decoration: none;
    color: grey;
}

.my-display {
    display: none
}

.my-font-bold {
    
    font-size: 2rem;
    color: white;
}

.my-hover-aside:hover {
    background-color: grey;
    cursor: pointer;
    transition: 0.5s;
}

.desktop-buttons {
    display: none;
}


/* MEDIA QUERY */

@media screen and (min-width: 576px) {
    aside {
        width: 130px;
    }

    aside span {
        display: inline;
    }

    #my-order-1 {
        order: 1
    }
    #my-order-2 {
        order: 2
    }
    #my-order-3 {
        order: 3
    }
    .campana {
        display: inline-block;
    }

}

@media screen and (min-width: 992px) {

    .desktop-buttons {
        display: inline;
    }
    .mobile-buttons {
        display: none;
    }
    #mobile-logo {
        display: none;
    }
    #desktop-logo {
        display: inline;
    }


}
